/*
 * @main-color: #eb1c28;
 */
 
#royal_preloader.royal_preloader_progress .royal_preloader_meter,
.slider-line{
    background-color: #eb1c28;
}
.quote{
    border-color: #eb1c28;
}
.facts-name{
    color: #eb1c28;
}
.hover-for-team-social ul li a:hover{
    background-color: #eb1c28;
}
.service-icon{
    color: #eb1c28;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #eb1c28;
}
.owl-theme .owl-dots .owl-dot span {
    background: #989898;
}
ul.portfolio-filter li a.current,
ul.portfolio-filter li a:hover {
    color: #eb1c28;
}
.portfolio-mask-subtitle {
    background-color: rgba(252, 201, 0, .9);
}
.blog-page-post-head-h2 a:hover{
    color: #eb1c28;
}
.blog-page-post-author a{
    color: #eb1c28;
}
.subscribe-style:active {
    border-color: #eb1c28;
}

.subscribe-style:focus {
    border-color: #74bf41;
}
.subscribe-button:hover {
    background-color: #74bf41;
}
.blog_post_category li i.fa,
.blog_post_tags li i.fa,
.blog-post-single-footer span.cat-links i.fa,
.blog-post-single-footer span.tags-links i.fa{
    color: #eb1c28;
}
.blog_post_category li a:hover,
.blog_post_tags li a:hover,
.blog-post-single-footer .cat-links a:hover,
.blog-post-single-footer .tags-links a:hover,
.blog-post-single-meta a:hover{
    color: #eb1c28;
}
ul.hedone-menu > li > a:hover,
ul.hedone-menu > li.current-menu-parent > a{
    color: #eb1c28;
}
ul.hedone-menu > li > ul.sub-menu li.current-menu-item > a{
    color: #eb1c28;
}
ul.hedone-menu > li.current-menu-item > a{
    color: #eb1c28;
}
@media only screen and (max-width: 1199px) {
    ul.hedone-menu > li > a:hover {
        color: #fff;
    }
    ul.hedone-menu > li.current-menu-parent > a:hover,
    ul.hedone-menu > li > ul.sub-menu li.current-menu-item > a:hover{
        color: #eb1c28;
    }
    
}
/*
 * hero slider
 */
.hero-slider .owl-theme .owl-next:hover,
.hero-slider .owl-theme .owl-prev:hover,
.project-slider.owl-theme .owl-next:hover,
.project-slider.owl-theme .owl-prev:hover{
    background-color: #eb1c28;
    color: #fff;
}
.hero-slider .owl-theme .owl-next:hover.disabled,
.hero-slider .owl-theme .owl-prev:hover.disabled,
.project-slider.owl-theme .owl-next:hover.disabled,
.project-slider.owl-theme .owl-prev:hover.disabled{
    background-color: #fff;
    color: #000;
}
/*
 * hero video
 */
.jquery-background-video-pauseplay.play:before {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #eb1c28;
}
.jquery-background-video-pauseplay.pause:before,
.jquery-background-video-pauseplay.pause:after {
    border-top: 10px solid #eb1c28;
    border-bottom: 10px solid #eb1c28;
    border-left: 5px solid #eb1c28;
}
/*
 * nav-pills
 */
.nav-pills > li > a:hover,
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus{
    background-color: #eb1c28;
    color: #fff; border:1px solid #eb1c28;
}
/*
 * pricing box
 */
a:hover.pricing-button{
    color: #fff;
    background-color: #eb1c28;
}
/*
 * contact form
 */
.contact-button:hover,
.contact-button:focus{
    background-color: #eb1c28;
    color: #fff;
    outline: none;
}
.text-field:focus {
    border-bottom-color: #eb1c28;
}

/* map */
.lightbox-map:hover {
    background-color: #eb1c28;
}

/* buttons */
.btn-default-main-color:hover,
.btn-default-main-color:active,
.btn-default-main-color:focus{
    border-color: #eb1c28;
    background-color: #eb1c28;
    color: #fff;
}
.hover-zoom-in-white:hover{
    color: #eb1c28;
}
.btn-default-main-color-border-solid:hover{
    border-color: #eb1c28;
    background-color: #eb1c28;
}
.btn-default-main-color-border-dashed:hover{
    border-color: #eb1c28;
    background-color: #eb1c28;
}

/* dropcaps */
.dropcap.main-color{
    background-color: #eb1c28;
    color: #fff;
}
/* highlights */
.highlights-main-color{
    background-color: #eb1c28;
    color: #fff;
}
/* gallery */
.gallery a:hover:before{
    background-color: rgba(252, 201, 0, .8);/* color: #eb1c28 with tranparent*/
}

/* single post */
.post-wrap-section{
    border-top-color: #eb1c28;
}
.comment-metadata a:hover,
.comment-author a:hover{
    color: #eb1c28;
}
.comment-form input[type="text"]:focus,
.comment-form input[type="email"]:focus,
.comment-form textarea:focus{
    border-bottom-color: #eb1c28;
}
.post-navigation a:hover{
    color: #eb1c28;
}