
/* Font Install In template  */

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800');



body {
	line-height: 1.5;
	font-family: 'Montserrat', sans-serif;
    color: #5b5a5a;
    font-size: 15px;
    font-weight:normal;
    letter-spacing:0px;
    overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.section-padding
{
    padding: 60px 0px;
}
.section-padding30
{
    padding: 30px 0px;
}


#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

/***********************************
************************************
HEADER 
************************************
***********************************/
.header{
    background: url('../img/home-section-bg03.jpg') no-repeat top center;
    background-size: cover;
    min-height: 540px;
    position: relative;
}
.bg-color
{
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 540px;
}
#main-header
{
}
.navbar-default {
    background-color:transparent;
    border:0px;
    padding: 10px 0; 
    transition: all 0.3s;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover
{
    color: #002F2F;
}

.top-nav-collapse {
    padding: 0;     
    background: rgba(0,0,0, 0.9);
}

.logo-dec
{
    color: #be9e21;
}
.navbar-default .navbar-brand {
    color: #fff;
   font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus
{
    color: #fff;
}
.navbar-brand {
    padding: 0px;
    font-size: 24px;
   /*  text-transform: uppercase; */
    padding: 15px 0px;
    margin-top: -9px;
}
.navbar-default .navbar-nav > li > a
{
    padding: 5px 18px;
    font-size: 18px;
    line-height: 54px;
    font-weight: 400;
    /* text-transform: uppercase; */
    background: transparent;
    color: #fff;
  
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #fec846;
    background-color: transparent; 
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    background-color: transparent;
    color: #fec846;   
}


.banner-info
{
    padding-top: 160px;
    color: #fff; width: 100%;
}
.bnr-title, .bnr-sub-title
{
   font-family: 'Montserrat', sans-serif;
}
h1.bnr-title
{
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
h2.bnr-sub-title {
    font-size: 44px;
    text-transform: uppercase;
    padding: 20px 0px;
    font-weight: bold;
}

.bnr-para {
    font-weight: 100;
    /* text-transform: uppercase; */
    line-height: 26px;
    font-size: 18px;
    font-style: normal;
}
.bnr-para span{ color:#ffc627; }
/* .btn-download, .btn-more, .btn-download:hover, .btn-download:focus, .btn-more:focus {
    text-transform: uppercase;
    margin-top: 20px;
    color: #fff;
    border: 0;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    padding: 10px 30px;
    border-radius: 60px;
    margin: 30px 10px 0 0;
    outline: none !important;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all 0.3s;
	background: url('../img/btn-bg.png') no-repeat right; }
} */

.btn-download {
    background:none;
    color: #333;
    border: 0;
    font-size: 18px;
    font-weight: 600;
    line-height: 60px;
    padding: 0px 0px;
    border-radius: 5px;
    margin: 30px 0px 0 0;
    text-transform: uppercase;
    margin-top: 20px;
    width: 270px;
    height: 60px;
}
/* 
.btn-download
{
    background-color: #be9e21;
} */
.btn-more, .btn-more:focus
{
    margin-left: 15px;
    border: 1px solid #be9e21;
    color: #be9e21;
}

.btn-more:hover {
    background: #be9e21;
    color: #fff;
}

.overlay-detail a i{
   text-align: center;
   position: absolute;
   bottom: 25px;
   font-size: 38px;
   color: #fff;
}
/***********************************
************************************
features
************************************
***********************************/
.title, .service-title
{
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    text-transform: uppercase;
}
.item-img
{
    margin-bottom: 15px;
}
.sub-title
{
    font-size: 20px;
}
.bottom-line
{
    margin-top: 20px;
    margin-bottom: 40px;
    border: 0;
    border-top: 0px;
    height: 3px;
    width: 40px;
    background-color: #BE9E21;
}
.wrap-item h3 {
    font-size: 24px;
    line-height: 25px;
}
.pad-bt15 {
    padding-bottom: 15px;
}
.sec-sub-title
{
    padding-top: 30px;
}
.sec-sub-title {
    font-size: 16px;
    font-weight: bold;
    color: #002F2F;
    text-transform: uppercase;
    margin: 25px 0px;
    line-height: 1.7;
}
#service
{
    background-color: #F3F4F8;
}
ul.service-list li i
{
    color: #002F2F;
    padding-right: 10px;
}
.learn-more, .learn-more:hover, .learn-more:focus {
    height: 50px;
    width: 175px;
    background: #046380;
    display: inline-block;
    text-align: center;
    color: #ffffff;
    line-height: 50px;
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
    margin-right: 10px;
    margin-top: 45px;
    text-decoration: none;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.visit-portfolio, .visit-portfolio:hover, .visit-portfolio:focus {
    height: 50px;
    width: 175px;
    display: inline-block;
    text-align: center;
    color: #495376;
    line-height: 50px;
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
    border: 1px solid #838aa1;
    margin-top: 45px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.bx-wrapper img {
    width: 70px;
    display: inline-block;
    border-radius: 50%;
    border: 5px solid #fff;
    margin-bottom: 15px;
}
.service-item h3 span
{
    opacity: 0.7;
    font-size: 75px;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: -5px;
    font-weight: 900;
    padding-right: 6px; color:#ffc627;
}
.service-item h3
{
    font-weight: 700; color:#fff;
}
.service-item p
{
    opacity:1;
    color: inherit;
    padding: 10px 0px;  color:#fff;
}
.service-item a
{
    color: #be9e21;
}
.mr-btn-15
{
    margin-bottom: 15px;
}
.padding-right-zero
{
    padding-right: 0px !important;
}
.bx-wrapper {
    margin: 0 auto 35px;
}
.portfolio-item
{
    position:relative;
    overflow:hidden;
}
.portfolio-item figure
{
    margin:0;
    padding:0;
    position:relative;
    cursor:pointer;
}
.portfolio-item figure img {
    display:block;
    position:relative;
    z-index:10;
    margin:-15px 0
}
.portfolio-item figure figcaption {
    display:block;
    position:absolute;
    z-index:5;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
.portfolio-item figure h2 {
    font-family: 'Montserrat', sans-serif;
    color:#fff;
    font-size:20px;
    text-align:left;
    padding-bottom:15px;
}
.portfolio-item figure p {
    display:block;
    line-height:18px;
    margin:0;
    color:#fff;
    text-align:left
}
.portfolio-item figure figcaption {
    top:0;
    left:0;
    width:100%;
    height:100%;
    padding: 59px 30px;
    background-color: #BE9E21;
    backface-visibility:hidden;
    -webkit-transform:rotateY(-180deg);
    -moz-transform:rotateY(-180deg);
    transform:rotateY(-180deg);
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s;
    text-align: center;
}
.portfolio-item figure img {
    backface-visibility:hidden;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s
}
.portfolio-item figure:hover img,figure.hover img {
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    transform:rotateY(180deg)
}
.portfolio-item figure:hover figcaption,figure.hover figcaption {
    -webkit-transform:rotateY(0);
    -moz-transform:rotateY(0);
    transform:rotateY(0)
}
/***********************************
************************************
TESTIMONIAL
************************************
***********************************/
#testimonial
{
    background: url('../img/bg.jpg') no-repeat;
    background-size: cover;
    min-height: 390px;
}
.bg-testicolor{
    background-color: RGBA(73, 84, 105, 0.61);
    min-height: 390px;
}
.white
{
    color: #fff !important;
}
.testimonial-item ul li blockquote {
    font-size: 18px;
    line-height: 32px;
    color: #fff;
    font-weight: 300;
    text-shadow: 1px 1px 2px #333;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin: 20px 0;
    padding: 0 80px;
    position: relative;
    border: 0;
}
.testimonial-item ul li  small {
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    text-shadow: 1px 1px 2px #333;
    text-align: center;
    display: inline-block;
    width: 100%;
}
.bx-viewport
{
    height: 235px !important;
    background-color: transparent !important;
    border: 0px none !important;
    box-shadow: none !important;
}
.testimonial-item ul li blockquote::before {
    content: '“';
    left: 30px;
}
.testimonial-item ul li blockquote::before, .testimonial-item ul li blockquote::after {
    position: absolute;
    font-weight: 300;
    font-size: 3em;
    font-family: Georgia, serif;
    color: #ccc;
    top: 62%;
}
.testimonial-item ul li blockquote::after {
    content: '”';
    right: 30px;
}
/***********************************
************************************
Blog
************************************
***********************************/
.blog-info h2 {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1px;
    padding-top: 5px;
}
.blog-comment {
    margin-top: 12px;
    min-height: 30px;
}
.blog-info p, .blog-comment p
{
    color: #949494;
}
.blog-comment p:first-child {
    float: left;
}
.blog-comment p:last-child {
    float: right;
    margin-right: 0;
}
.blog-comment p i
{
    color: #949494;
}
.read-more {
    color: #949494;
    margin-top: 15px;
    display: inline-block;
}
.blog-img
{
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
}
.blog-img img:hover {
    opacity: 1;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}
.blog-img img {
    width: 100%;
    opacity: 0.8;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
/***********************************
************************************
contact
************************************
***********************************/
#contact
{
    background-color:#000;
}
.btn-submit, .btn-submit:hover, .btn-submit:focus
{
    background-color: transparent;
    border-radius: 60px;
    color: #be9e21;
    font-weight: 400;
    border: 1px solid #be9e21;
    font-size: 14px;
    padding: 6px 20px;
}
.form-control
{
    background-color: transparent;
    border-radius: 0px;
    color: #be9e21 !important;
    border-color: #be9e21;
}
.form-control:focus {
    border-color: #be9e21;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
.contact-form input.form-control{
    color: #fff;
}

.validation {
    color: red;
    display:none;
    margin: 0 0 20px;
    font-weight:400;
    font-size:13px;
}

#sendmessage {
    color: green;
    border:1px solid green;
    display:none;
    text-align:center;
    padding:15px;
    font-weight:600;
    margin-bottom:15px;
}

#errormessage {
    color: red;
    display:none;
    border:1px solid red;
    text-align:center;
    padding:15px;
    font-weight:600;
    margin-bottom:15px;
}

#sendmessage.show, #errormessage.show, .show {
    display:block;
}

.loction-info p
{
    margin-bottom: 25px;
}
.loction-info p i
{
    color: #be9e21;
}
/***********************************
************************************
contact
************************************
***********************************/
#footer
{
    padding: 20px 0px;
}
.scrollToTop {
    position: fixed;
    bottom: 12px;
    right: 12px;
    width: 42px;
    height: 42px;
    color: #ffffff;
    background: #be9e21;
    font-size: 14px;
    line-height: 42px;
    text-align: center;
    z-index: 100;
    cursor: pointer;
    display: none;
}
.white-bg
{
    background-color: #fff;
}
#footer a{
    color: #be9e21;
    font-weight: 400;
}
/***********************************
************************************
Responsive media queries
************************************
***********************************/
/***********************************
************************************
cta
************************************
***********************************/
.cta {
    background-color: rgb(73, 84, 105);
}
.cta .cta-info {
    
    width: 100%;
    float: left;
    padding: 30px 25px 30px 15px;
    border-radius: 5px;
}
.cta .cta-info .cta-txt h3 {
    font-size: 32px;
    margin-bottom: 10px;
}
.cta .cta-info .cta-btn {
    margin-top: 16px;
    background-color: rgb(190, 158, 33);
    padding: 20px 50px;
    color: #FFF;
    font-size: 22px;
    display: inline-block;
    transition: all 0.5s ease-in 0s;
}
/***********************************
************************************
Responsive media queries
************************************
***********************************/
@media (min-width: 768px) and (max-width: 980px) {
    .service-item, .blog-sec, .wrap-item, .loction-info{
    margin-bottom: 15px;
}
.country-flag-small .flag-img img {
    width: 20% !important;
    height: auto;
    margin: 0px 0 0 0;
}

.navbar-header {
    float: left;
    width: 50px !important;
}
#myNavbar1 {
    width: 48px !important;
    margin-right: 0px;
}
#myNavbar1 ul{ margin:0px; padding:0px;}
.portfolio-item figure figcaption{
    padding: 55px 30px;
}
.padding-right-zero{
    padding-right: 15px !important;
}
.navbar-default .navbar-nav > li > a {
    padding: 5px 10px !important;
    font-size: 18px;
}
#myNavbar1 ul li {
    list-style: none;
    display: inline-block;
    margin: 0px 2px  !important;
    padding: 0px !important;
    width: 25px !important;
    height: 25px !important;
}	
.banner-info {
    padding-top: 80px;
    color: #fff;
    width: 70% !important;
    margin: auto;
    text-align: center;
}
.header-banner-img {
    margin-top: 0px !important; text-align: center;
}
.header-banner-img img {
    width: 40% !important;
    height: auto;
}
#brand-logos{ margin-top: 16px; }
.home-section04-right a.btn02{ margin: 0px; }
.Home-Projets-box h4 a {
    font-size: 14px !important;
    text-align: center;
    color: #333;
    font-weight: bold;
    text-decoration: none;
}
#project-logos-mobile a.btn01 {
    background: #fff;
    text-align: center;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    width: auto;
    height: 45px;
    border: 0px;
    border-left: 5px solid #fec846;
    border-right: 5px solid #fec846;
    margin: 15px 35% !important;
    padding: 12px 20px;
    float: left;
}


.Home-Projets-box {
    min-height: 185px !important;
    }

.item-img img{ width:90% !important; height:auto; }	
#animate-area {
    /*background-image: url(../img/home-about-bg-amin.jpg);*/
    height: auto !important; min-height:600px; background-repeat:repeat;
	}
.Home-project-left {
    width: 300px !important;
}	
.Home-project-right {
    width: 440px !important;
}
.project-img01 {
    margin: 0 0 30px 0;
    width: 98% !important;
}
.home-project01 {
    float: left;
    width: 180px !important;
    height: 200px !important;
    margin: 0 10px 20px;
}
.home-project02 {
    float: right;
    width: 180px !important;
    height: 200px !important;
    margin: 0 10px 20px;
}
.home-project01 img, .home-project02 img{ width:90% !important; height:auto; }
.message-quote {
    font-size: 23px !important;
    font-weight: 300;
    line-height: 24px !important;
    letter-spacing: 2px;
    color: #333;
    text-align: left !important;
    font-style: italic;
    margin: 70px 0 0 0 !important;
}
.resposive-image{ width:90% !important; height:auto !important; }
h2.bnr-sub-title {
    font-size: 34px;
    text-transform: uppercase;
    padding: 7px 0px;
    font-weight: bold;
}
.hvr-sweep-to-left{ margin-left: 36% !important; }

	
}

@media (min-width: 980px) and (max-width: 1024px) {
.navbar-header {
    float: left;
    width: 150px !important;
}
#myNavbar1 {
    width: 100px !important;
    margin-right: 0px;
    float: right;
    margin-top: 18px;
    text-align: right;
}
.home-section04-left h3 {
    font-size: 18px !important;
    font-weight: bold;
    margin: 5px 0 0 0;
    text-transform: uppercase;
    text-align: left;
}
.home-section04-right a.btn02 {
    background: #fec846;
    text-align: center;
    font-size: 14px !important;
    color: #fff;
    font-weight: 600;
    width: auto;
    height: 45px;
    border: 0px;
    border: 2px solid #fec846;
    margin: 0px 0 !important;
    padding: 10px 20px;
    float: left;
}





    }
@media (min-width: 451px) and (max-width: 767px) {
    .service-item, .blog-sec, .wrap-item, .loction-info{
    margin-bottom: 15px;
}
}
@media (min-width: 300px) and (max-width: 450px) {

#project-logos{ display: none !important; }
#project-logos-mobile{ display: block !important; }
.Home-Projets-box{min-height: 290px !important; }
.navbar-default .navbar-brand {
    padding-left: 16px;
    margin-top: -10px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #000;
}

.navbar-default {
    background-color: #000 !important;
    border: 0px;
    transition: all 0.3s;
}
.country-flag{ width:90% !important; height:auto; }

/*.bg-color {
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 400px   !important;
}*/

#myNavbar {
    width: 100% !important;
}
.navbar-default .navbar-brand  img{ width:80% !important; }
.banner-info {
    padding-top: 80px;
    padding-left: 20px;
    width: 100% !important;
}
.overlay-detail {
    margin-top: 20px;text-align: center;
    margin-left:0px !important;
}
.bnr-para, .brn-btn{ text-align: center; }
p.text1 {
    text-align: center;
}
p {
    margin: 0 0 10px;
    text-align: justify;
}
.header-banner-img {
    margin-top: 0 !important;
}

.home-section04-left {
    border-right: 0px !important;
    text-align: center !important;
}
.home-section04-left h3 {
    text-align: center !important; margin-bottom: 10px;
}
a.btn02 {
    text-align: center;
    width: 100% !important;
}

h2.title01 {
    font-size: 24px !important; margin-top: 20px !important; text-align: center !important;
    background: url(../img/title-heading.png) no-repeat center bottom !important;
}
#home-section02 {
    display: block;
    background-image: none !important;
    background-repeat: no-repeat; background-color: #e4e4e4;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
	}

.Inner-banner h2 {
    color: #fff;
    font-size: 25px !important; 
    text-align: center !important;
}
.Inner-banner h3 {
    font-size: 18px !important;
    text-align: center !important;
    line-height: 24px;
}
.breadcream {
    padding: 20px 20px !important;
	}
.Quote-Block .Quote-inner {
    padding: 10px !important;
    margin-left: 0px !important;
}	
.Quote-Block {
    width: 100%;
    height: auto;
    background: url(../img/quote-bg1.jpg) repeat top center  !important;
}	
.Project-header-bg1, .Project-header-bg2, .Project-header-MHMC, .Charity-header-bg, .Contact-header-bg {
    min-height: 350px !important;
}	
/*.navbar-collapse.collapse.in{background:#333; }*/


#project-Inner-banner {
    padding-top: 130px !important;
}	
.header-text {
    text-align: center;
}
.Quote-Block1 .Quote-inner {
    padding: 10px !important;
    font-size: 20px !important;
    line-height: 26px !important;
}
a.btn01 {
font-size: 16px !important;
    padding: 12px 20px !important;
    float: left;
}




h1.bnr-title {
    font-size: 16px;
}
h2.bnr-sub-title {
    font-size: 33px;text-align: center;
}
body{
    font-size: 14px;
}
.btn-download, .btn-more, .btn-download:hover, .btn-more:hover, .btn-download:focus, .btn-more:focus {
    font-size: 12px;
    padding: 7px 18px;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #fff;
    border: 0px !important;
}
.btn-download {
    background: none;
    color: #333;
    border: 0;
    font-size: 16px !important;
    font-weight: 600;
    line-height: 67px;
    padding: 0px 0px;
    border-radius: 5px;
    margin: 20px 0px 0 0;
    text-transform: uppercase;
    width: 90%;
    height: 70px;
}

.wrap-item h3 {
    font-size: 18px;
}
.title, .service-title {
    font-size: 28px;
}
.sub-title {
    font-size: 15px;
}
.service-item, .blog-sec, .wrap-item, .loction-info{
    margin-bottom: 15px;
}
.loction-info{
    padding: 0px 15px;
}
.portfolio-item figure figcaption {
    padding: 30px 30px;
}
.padding-right-zero{
    padding-right: 15px !important;
}
.portfolio-item figure p{
    font-size: 14px;
}
.portfolio-item figure h2{
    font-size: 18px;
}
.testimonial-item ul li blockquote {
    font-size: 14px;
    line-height: 22px;
    margin: 10px 0;
    padding: 0 40px;
}
.navbar-default .navbar-nav > li > a{
    line-height: 26px;
    text-align: left;
}
ul.bullete li {
    padding: 10px 0px 10px 32px !important;
    font-size: 13px !important; margin:0px !important;
}



.item-img img{
    width:98%; height:auto;
}
h2.title01 {
    text-align: center;
}
.Home-project-left {
    width: 100% !important;
	}
.project-img01 {
    margin: 0 0 30px 0;
    width: 80% !important;
}
#animate-area {
    height: auto !important;
	}
	
.home-project01, .home-project02 {
    width: 90%  !important;
    height: auto  !important; text-align:center;
    margin: 0 15px 20px !important; float:left !important;
}
.project-img02 {
   width: 90%  !important;
    height: auto  !important;
}
.Home-project-right {
    width: 100% !important;
    height: auto;
    padding: 20px 0px !important;
}
.quote-post {
    text-align: center  !important;
    width: 100%  !important;
    display: block  !important;
}
.message-quote {
    font-size: 18px !important;
    text-align: center !important;
    margin: 50px 0 0 0 !important;
}
.resposive-image{ width:98% !important; height:auto !important; }

#footer1 p{ font-size: 12px; text-align: center; }
.footer-menu1 {
    padding: 20px  !important;
    width: 100% !important;
    height: auto !important;
    min-height: 240px;
    float: left;
}

.img-right {
    width: 100%;
}
.header {
    /*background: url(../img/home-section-bg03.jpg) repeat -700px 0px  !important;*/
    background-size: cover;
    min-height: 320px !important;
    position: relative;
}
#home-section02{
min-height:390px !important; }

.country-flag-small {
    display: block;
    width: 100%;
    height: auto;
    min-height: 218px !important;
	}
}

/* Custom Style for the Site  */

#myNavbar {
    width: 70%;
    margin-right: 0px;
    float: left;
}
#myNavbar1{ width:20%; margin-right: 0px; float: right; margin-top:18px; text-align: right; }
#myNavbar1 ul li{ list-style:none; display:inline-block; margin:0px 5px; padding:0px; width:30px; height:25px; }

#myNavbar1 ul li a{ width:30px; height:25px; display:inline-block; margin:0px; padding:0px; background: url('../img/top-icons.png') no-repeat; }

a.email-icon{ background-position:0px 0px !important; -webkit-transition-property: all; transition-property: all;-webkit-transition-duration: 0.8s; transition-duration: 0.8s;   }
a.facebook-icon{ background-position:-36px 0px !important; -webkit-transition-property: all; transition-property: all;-webkit-transition-duration: 0.8s; transition-duration: 0.8s;}
a.instagram-icon{ background-position:-70px 0px !important; -webkit-transition-property: all; transition-property: all;-webkit-transition-duration: 0.8s; transition-duration: 0.8s;}
a.google-plus-icon{ background-position:-110px 0px !important; -webkit-transition-property: all; transition-property: all;-webkit-transition-duration: 0.8s; transition-duration: 0.8s; }

a.email-icon:hover{ background-position:0px -41px !important;     -webkit-transition-property: all;
    transition-property: all;-webkit-transition-duration: 0.8s; transition-duration: 0.8s;   }
a.facebook-icon:hover{ background-position:-36px -41px !important; -webkit-transition-property: all; transition-property: all;-webkit-transition-duration: 0.8s; transition-duration: 0.8s;}
a.instagram-icon:hover{ background-position:-70px -41px !important; -webkit-transition-property: all; transition-property: all;-webkit-transition-duration: 0.8s; transition-duration: 0.8s;}
	a.google-plus-icon:hover{ background-position:-110px -41px !important; -webkit-transition-property: all; transition-property: all;-webkit-transition-duration: 0.8s; transition-duration: 0.8s; }
.overlay-detail{
    margin-top: 20px;
    margin-left: 60px;
}
.overlay-detail a{ color:#fff; text-decoration:none; background: url('../img/arrow-01.png') no-repeat 70px 5px; padding-right:40px; }
.overlay-detail a:hover{ color:#fff; text-decoration:underline; background: url('../img/arrow-01.png') no-repeat 73px 5px;  }

.About-text{ text-align:left; margin:0px; padding:0px; }
ul.bullete li{  text-align:left !important; }
#project-Inner-banner {
    padding-top: 190px;
    margin: 0px 10px !important;
}

h2.title01{ font-size:22px; color:#333; font-weight:bold; margin:0 0 25px 0; padding:0px 0 20px 0; color:#333; background: url('../img/title-heading.png') no-repeat bottom left; text-align: left;  }
h2.title01 span{ color:#fec846; }
p.text1{ font-size:20px; color:#333; font-weight:200; margin:0 0 0px 0; padding:0px; color:#333; }

a.btn01 {
    background: #fff; text-align: center; font-size: 16px; color: #333; font-weight: 600; width: auto; height: 45px; border: 0px; border-left: 5px solid #fec846; border-right: 5px solid #fec846;
    margin: 15px 0; padding: 12px 20px; float: left;
}
a.btn01:hover{ text-decoration:none; color:#fff; }
a.btn02 {
    background: #fec846; text-align: center; font-size: 16px; color: #fff; font-weight: 600; width: auto; height: 45px; border: 0px; border: 2px solid #fec846;
    margin: 15px 0; padding: 10px 20px; float: left;
}
a.btn02:hover{ text-decoration:none; color:#333; background: #fff; }

.hvr-sweep-to-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.hvr-sweep-to-left:hover, .hvr-sweep-to-left:focus, .hvr-sweep-to-left:active {
    color: white;
}
[class^="hvr-"] {
    margin: .4em;
    padding: 8px 15px;
    cursor: pointer;
    background: #e1e1e1;
    text-decoration: none;
    color: #333;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.hvr-sweep-to-left:hover:before, .hvr-sweep-to-left:focus:before, .hvr-sweep-to-left:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
.hvr-sweep-to-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffc627;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-shutter-out-horizontal {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    background: #ffc627;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.hvr-shutter-out-horizontal:hover, .hvr-shutter-out-horizontal:focus, .hvr-shutter-out-horizontal:active {
    color: #333;
}
.hvr-shutter-out-horizontal:hover:before, .hvr-shutter-out-horizontal:focus:before, .hvr-shutter-out-horizontal:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
.hvr-shutter-out-horizontal:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff; border-radius:5px;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}


#home-section01 {
    display: block;
    background: rgba(10,10,10,0.75);
    background-image: url(../img/home-project-bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -ms-behavior: url(../img/backgroundsize.min.htc);
    behavior: url(../img/backgroundsize.min.htc);
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    border-radius: 0px;
    width: 100%;
    height: auto;
    min-height: 520px;
    position: relative;
    padding-top: 0px;
    padding-bottom: 0px;
}

.home-section-title01{ color:#fff; font-size:44px; font-weight:bold; margin:0 0 35px 0; text-align:center; text-transform:uppercase; }

.sub-title1{ color:#fff; line-height:26px; font-size:18px; font-weight:200; font-style:italic; }
.Home-project-left{
	width:440px; height:auto; min-height:640px; background:#e2a614; padding:40px 25px; margin:0px; text-align:left; float:left; }

h2.title02{ font-size:26px; color:#333; font-weight:bold; margin:0 0 45px 0; padding:0px 0 20px 0; color:#fff; background: url('../img/title-heading1.png') no-repeat bottom left;  }

.Home-project-left p{ font-size:16px; color:#fff; font-weight:200; margin:0 0 20px 0; padding:0px; line-height:24px; text-align:left; }

.project-img01{ margin:0 0 30px 0; }

.Home-project-right{
	width:700px; height:auto; min-height:640px; background:none; padding:40px 25px; margin:0px; text-align:left; float:right; }

.home-project01{ float:left; width:305px; height:280px; margin:0 15px 20px; }
.home-project02{ float:right; width:305px; height:280px; margin:0 0px 20px; }

.project-img02{box-shadow:#333 0 5px 15px; }

#home-section02 {
    display: block;
    background-image: url(../img/home-section-bg02.jpg);
    background-repeat: no-repeat;
    background-position: center right;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    width: 100%;
    height: auto;
    min-height: 590px;
    position: relative;
    padding-top: 0px;
    padding-bottom: 0px;
}

.message-quote{ font-size:22px; font-weight:300; line-height:30px; letter-spacing:1px; color:#333; text-align:left; font-style:italic; margin:110px 0 0 0; }

.quote-post{ font-weight:bold; font-size:16px; color:#333; text-align:left; }

#home-section03 {
    display: block;
    background-image: url(../img/home-section-bg03.jpg);
    background-repeat: no-repeat; background-attachment:scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    width: 100%;
    height: auto;
    min-height: 590px;
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
}

.yellow{ color:#e2a614; } 

h2.title03{ font-size:30px; color:#fff; font-weight:bold; margin:0 0 45px 0; padding:0px 0 20px 0; background: url('../img/title-heading1.png') no-repeat bottom left;  }

p.text2{ font-size:24px; color:#fff; font-weight:200; margin:0 0 10px 0; padding:0px; }

.Home-project-left p{ font-size:16px; color:#fff; font-weight:200; margin:0 0 20px 0; padding:0px; line-height:24px; text-align:left; }

.home-section03 p.des{ text-align:left; line-height:22px; color:#fff; font-size:16px; }

.Footer-logo{ background:#000; text-align:center; padding:35px 0px; }

.footer-icons ul{ padding:0px; width:100%; }
.footer-icons ul li{ list-style:none; display:inline-block; margin:0px 5px; padding:0px; width:30px; height:25px; }

.footer-icons ul li a{ width:30px; height:25px; display:inline-block; margin:0px; padding:0px; background: url('../img/top-icons.png') no-repeat; }

.footer-icons {
    margin: 20px 0;
}

.footer-menu1 {
    padding: 50px 60px;
    width: 40%;
    height: auto;
    min-height: 240px;
    float: left;
}
.footer-menu1 ul{ padding:0px; margin:0px; }
.footer-menu1 ul li{ float:left; display:block; width:100%; height:auto; padding:0px; margin:0 0 5px 0; line-height:35px; }
.footer-menu1 ul li a{ color:#fff; text-decoration:none;}
.footer-menu1 ul li a:hover{ color:#ffc627; text-decoration:none;}

#footer1{ background:#100f0f; width:100%; height:auto; min-height:30px; padding:15px 0 5px 0; margin:0px; color:#fff;  }
#footer1 a{ color:#ffc627; text-decoration:none; }
#footer1 a:hover{ color:#fff; text-decoration:none; }

.footer-icons{ color:#ffc627; text-decoration:none; }
.footer-icons a{ color:#ffc627; text-decoration:none; }
.footer-icons a:hover{ color:#fff; text-decoration:none; }

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}

#animate-area	{ 
	background-image:/*  url("../img/home-about-bg-amin.jpg") */;
    height: auto; width:100%; min-height:400px;
	background-position: 0px 0px;
	 background-repeat:repeat;
	animation: animatedBackground 10s linear infinite;
}

#animate-area1	{ 
	background-image: /* url("../img/home-about-bg-amin.jpg") */;
    height: auto; width:100%;
	background-position: 0px 0px;
	 background-repeat:repeat;
	animation: animatedBackground 10s linear infinite;
}
#animate-area2	{ 
	background-image: /* url("../img/home-about-bg-amin1.png") */;
    height: auto; width:100%;
	background-position: 0px 0px;
	 background-repeat:repeat;
	animation: animatedBackground 10s linear infinite;
}
#animate-area3	{ 
	background-image: /* url("../img/home-about-bg-amin2.png") */;
    height: auto; width:100%;
	background-position: 0px 0px;
	 background-repeat:repeat;
	animation: animatedBackground 10s linear infinite;
}
#animate-area4	{ 
	background-image: /* url("../img/home-about-bg-amin3.png") */;
    height: auto; width:100%;
	background-position: 0px 0px;
	 background-repeat:repeat;
	animation: animatedBackground 10s linear infinite;
}


/* About Page Start Here */

#About-Inner-banner {
    padding-top:120px;
}

.Inner-header{ min-height:90px; }
.bg-color1
{
    /*  background-color: rgba(0, 0, 0, 0.5);  */
    min-height: 90px;
}

.Inner-banner h2{ color:#fff; font-size:44px; font-weight:bold; text-transform:uppercase; }
.Inner-banner h3{ color:#ffc627; font-size:25px; font-weight:bold; text-transform:uppercase; }

.about-fearures{ margin:0px; padding:0px;  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out; }

.about-fearures:hover{ margin:-20px 0 0 0; padding:0px;  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; cursor:pointer; }


.Project-header {
}


#About-header 	{ 
	background-image: url("../img/home-section-bg03.jpg");
    height: auto; width:100%;
	background-position: 0px 0px; 
	 background-repeat:repeat; min-height: 550px;  position: relative;
	/*animation: animatedBackground 10s linear infinite;*/
}

#About-header1 	{ 
	background-image: url("../img/home-section-bg03.jpg");
    height: auto; width:100%;
	background-position: 0px 0px; 
	 background-repeat:repeat; min-height: 550px;  position: relative;
	/*animation: animatedBackground 10s linear infinite;*/
}



.Project-header h2{ color:#fff; font-size:40px; text-align:center; margin:0px 0 30px 0; padding:0px; text-shadow:#333 0 0 10px;  }
.Project-header h3{ color:#ffc627; font-size:25px; text-align:center; margin:0px 0 20px 0; padding:0px; text-shadow:#333 0 0 10px;  }

#project-Inner-banner{ padding-top:190px; }

.about-fearures{ text-align:center; }
.about-fearures img{ width:90%; height:auto; }
.about-fearures h3{ color:#333; text-align:center; font-size:28px; font-weight:600; margin:15px 0; }

ul.bullete{ margin:10px 0px; padding:0px; }
ul.bullete li {
    line-height: 28px;text-align: left;list-style-type: none; padding: 10px 32px;
    color: #333; font-size: 15px; margin: 0px 0 0 15px; font-weight: bold;
    border-bottom: 1px dashed #ccc; background: url(../img/check-img.png) no-repeat left;
}
ul.bullete1{ margin:10px 0px; padding:0px; }
ul.bullete1 li {
    line-height: 28px;text-align: left;list-style-type: circle; padding: 10px 5px;
    color: #333; font-size: 15px; margin: 0px 0 0 10px; font-weight: normal;
    border-bottom: 1px dashed #ccc; 
}
ul.bullete3{ margin:10px 0px; padding:0px; }
ul.bullete3 li {
    line-height: 20px;text-align: left;list-style-type: circle; padding:10px 12px;
    color: #333; font-size: 14px; margin: 0px 0 0 15px; 
}
.Bio-box{ font-size:18px; text-align:left; padding:0px; color:#fff; line-height:20px; font-weight:bold; background: url(../img/bio-text-bg2.png) no-repeat top right; margin-top:50px;}
.Bio-box p{ padding:40px;  background: url(../img/bio-text-bg1.png) no-repeat top left; color:#fff; line-height:20px; font-weight:bold; display:block; min-height:350px; }

.about-header-img{ text-align:right; margin-top:0px; }
.about-header-img img, .about-header-img1 img{ width:95%; height:auto; }

.abount-header-text{ margin-top:50px; }

.about-header-img1{ text-align:right; margin-top:20px; }
.header-text{ color:#fff; font-size:26px; font-weight:600; margin-top:20px; }
.About-header-bg1 {
    background: url(../img/about-header-bg1.jpg) no-repeat top center;
    background-size: auto auto;
    background-size: cover;
    min-height: 400px;
    position: relative;
}
.About-header-bg2 {
    background: url(../img/about-header-bg2.jpg) no-repeat top center;
    background-size: auto auto;
    background-size: cover;
    min-height: 400px;
    position: relative;
}
.About-header-bg3 {
    background: url(../img/about-header-bg3.jpg) no-repeat top center;
    background-size: auto auto;
    background-size: cover;
    min-height: 400px;
    position: relative;
}
.Project-header-bg1 {
    background: url(../img/project-header-bg01.jpg) no-repeat top center;
    background-size: auto auto;
    background-size: cover;
    min-height: 400px;
    position: relative;
}
.Project-header-bg2 {
    background: url(../img/project-header-bg1.jpg) no-repeat top center;
    background-size: auto auto;
    background-size: cover;
    min-height: 400px;
    position: relative;
}
.Project-header-MHMC {
    background: url(../img/project-header-mhmc.jpg) no-repeat top center;
    background-size: auto auto;
    background-size: cover;
    min-height: 400px;
    position: relative;
}
.Project-header-tobacco {
    background: url(../img/project-header-tobacco.jpg) no-repeat top center;
    background-size: auto auto;
    background-size: cover;
    min-height: 400px;
    position: relative;
}
.Project-header-baden{
	 background: url(../img/project-header-baden.jpg) no-repeat top center;
    background-size: auto auto;
    background-size: cover;
    min-height: 400px;
    position: relative;
}
.Project-header-flywer{
	 background: url(../img/project-header-flywer.jpg) no-repeat top center;
    background-size: auto auto;
    background-size: cover;
    min-height: 400px;
    position: relative;
}
.Project-header-bubba{
	 background: url(../img/project-header-bubba.jpg) no-repeat top center;
    background-size: auto auto;
    background-size: cover;
    min-height: 400px;
    position: relative;
}
.Project-header-chocolate{
background: url(../img/project-header-chocolate.jpg) no-repeat top center;
    background-size: auto auto;
    background-size: cover;
    min-height: 400px;
    position: relative;
}
.Project-header-pirate{
background: url(../img/project-header-chocolate.jpg) no-repeat top center;
    background-size: auto auto;
    background-size: cover;
    min-height: 400px;
    position: relative;
}
.Project-header-reh{
background: url(../img/project-header-REH.jpg) no-repeat top center;
    background-size: auto auto;
    background-size: cover;
    min-height: 400px;
    position: relative;
}
.Project-header-flowery{
background: url(../img/project-header-flowery.jpg) no-repeat top center;
    background-size: auto auto;
    background-size: cover;
    min-height: 400px;
    position: relative;
}




.Charity-header-bg {
    background: url(../img/charity-header-bg.jpg) no-repeat top center;
        background-size: auto auto;
    background-size: cover;
    min-height: 400px;
    position: relative;
}
.Contact-header-bg {
    background: url(../img/contact-header-bg.jpg) no-repeat top center;
        background-size: auto auto;
    background-size: cover;
    min-height: 400px;
    position: relative;
}
.martop80{ margin:40px 0 0 0; }
.section-pad02{ padding:10px 0 0 0; min-height:auto !important; }

/*   Charity Page Here    */

.contact-icons .address-icon{ display:block; margin:0 0 2px 0; padding:0 0 0 35px; background: url(../img/contact-icons1.png) no-repeat top left; width:100%; line-height: 35px; }

.contact-icons .email-icon{ display:block; margin:0 0 2px 0; padding:0 0 0 35px; background: url(../img/contact-icons2.png) no-repeat  top left; width:100%; line-height: 35px; }

.contact-icons .phone-icon{ display:block; margin:0 0 2px 0; padding:0 0 0 35px; background: url(../img/contact-icons3.png) no-repeat  top left; width:100%; line-height: 35px; }

.contact-icons .office-hours-icon{ display:block; margin:0 0 2px 0; padding:0 0 0 35px; background: url(../img/contact-icons4.png) no-repeat  top left; width:100%; line-height: 35px; }

.contact-icons .map-icon{ display:block; margin:0 0 2px 0; padding:0 0 0 35px; background: url(../img/contact-icons5.png) no-repeat  top left; width:100%; line-height: 35px; }

.breadcream{ padding:20px 0px; width:100%; height:auto; min-height:80px; margin:0; }
.breadcream a{ color:#333; text-decoration:none; }
.breadcream a:hover{ color:#e2a614; text-decoration:none; }
.breadcream strong{ color:#e2a614; }

.Quote-Block{ width:100%; height:auto; min-height:300px; padding:15px; margin:20px 0px; background: url(../img/quote-bg1.jpg) no-repeat top center; }
.Quote-Block .Quote-inner {
    padding: 20px;
    text-align: center;
    font-size: 26px;
    font-weight: 300;
    line-height: 36px;
    color: #fff;
    border: 1px solid #fff;
    width: 95%;
    margin-left: 25px;
}
.Quote-Block .Quote-inner h2{ text-align:center; font-size:30px; font-weight:700; margin:30px 0 40px 0; color:#fff; }

.Quote-Block1{ width:100%; height:auto; min-height:240px; padding:15px; margin:20px 0px; background: url(../img/quote-bg1.jpg) repeat-x top left;  }
.Quote-Block1 .Quote-inner {
    padding: 20px;
    text-align: center;
    font-size: 26px;
    font-weight: 300;
    line-height: 36px;
    color: #fff;
    border: 1px solid #ffc627;
    width: 99%;
    margin-left: 5px;
}
.Quote-Block1 .Quote-inner h2{ text-align:center; font-size:30px; font-weight:700; margin:30px 0 40px 0; color:#ffc627; }

.martop70{ margin-top:70px; }
.coming-soon img{ width:80% !important; }
.coming-soon h2.title01{ background-position:bottom center !important; }

.all-country-project{ background:none; padding:25px; width:100%; height:auto; min-height:150px; text-align:center;  }

.Flag-box{ text-align:center; font-size:13px; color:#333; line-height:24px; width:100px; display:inline-block; margin:0px 15px 20px 15px; position:relative; top:0px; -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out; -o-transition: all 0.8s ease-in-out; transition: all 0.8s ease-in-out; cursor:pointer; }
.Flag-box img{ text-align:center; width:90%; height:auto; margin:0px 0 0 0; }
.Flag-box:hover{ top:-9px; -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; cursor:pointer;  }
  
.Flag-box a{ color:#333; text-decoration:none; }

h2.title04{ text-align:center; color:#333; font-weight:600; font-size:28px; margin:20px 0 40px 0; }

/*   Gallery Style Sheet   */

.gallery-1{ float:left; width:100%; margin:0 0px 30px 0px; text-align:center; border-radius:8px; box-shadow:#ccc 0 5px 10px;}

.gallery-1 img{ width:100%; height:auto;  border-radius:8px; }

ul.sitemap{ float:left; width:100%; margin:15px 5%; padding:0px; }
ul.sitemap li{ list-style-type:none; line-height:40px; padding:0 0 0 30px; margin:5px; text-align:left; background:url(../img/bullete.jpg) no-repeat left 10px; color:#eb1c28;  }
ul.sitemap li a{ color:#eb1c28; text-align:left; text-decoration:none; }
ul.sitemap li a:hover{ color:#333; text-align:left; text-decoration:none; }

h2.title05{ font-size:22px; color:#333; text-align:left; margin:0 0 40px 0; font-weight:600; }
.country-flag{ float:left; width:200px; margin:10px 15px; }
.country-flag-small{ display:block; width:100%; height:auto; min-height:180px; border:0px dotted #ccc; margin:0 0 0px 0; padding:30px 16px; clear:both; border-bottom: 1px solid #e2e1e1; border-top: 1px solid #fff;
    background: #f6f5f5;border-left: 5px solid #f6f5f5;
 }
.country-flag-small:hover, .country-flag-small.current{ background:#fff; box-shadow: #ccc -5px 0 10px; border-bottom: 1px solid #e2e1e1; border-top: 1px solid #fff; border-left: 5px solid #ffcf5c;}

.country-flag-small a{ width:100%; float:left; padding:0px; margin:0px; }
.country-flag-small a:hover{ width:100%; float:left; padding:0px; margin:0px; color:#fff; text-decoration:none; }

.country-flag-small .flag-img{ float:left; width:100%; height:auto; text-align:center; }
.country-flag-small .flag-img img{ width:60%; height:auto; margin:0px 0 0 0; }


.country-flag-small .flag-text{ float:left; width:100%; height:auto; margin-left:0px; font-size:20px; font-weight:bold; color:#333;  text-align:center; }
.country-flag-small .flag-text a{  font-size:20px; font-weight:bold; color:#333; text-decoration:none;     line-height: 40px; }

.country-flag-small .flag-text a:hover{  color:#fff; text-decoration:none; }

.projectt-listing-block{ display:block; width:100%; height:auto; border-bottom:3px solid #fed779; margin:12px 0 10px 0; padding:15px 16px; clear:both; border-radius:0px; }

h2.title06, h2.title06 a {
    text-align: left;
    color: #333;
    font-weight: 600; text-decoration: none;
    font-size: 28px;
    margin: 20px 0 40px 0;
}
.project-listing-img{ width:100%; height:auto; min-height:120px; padding::0px; margin:0px 0 15px 0; }
.project-listing-img img{ border-radius:3px 3px; width:100%; height:auto; box-shadow:#ccc 0 5px 10px; }

.project-section {
    display: block;
    width: 100%;
    height: auto;
    min-height: 600px;
    margin: 0 0 18px 0;
    padding: 0px;
    clear: both;
    border-radius: 3px;
    box-shadow: #ccc 0 0 6px;
}
.project-section1 {
    display: block;
    width: 100%;
    height: auto;
    min-height: 600px;
    margin: 0 0 18px 0;
    padding:25px 20px;
    clear: both;
    border-radius: 3px; border-top:5px solid #fed779;
    box-shadow: #ccc 0 0 6px;
}
.img-right{ float:right; margin:0 10px 20px 20px; }
.img-left{ float:left; margin:0 20px 20px 10px; }

.gallery-img{ border-radius:4px; box-shadow:#ccc 0 2px 10px; }
.gallery-img1{ border-radius:4px; box-shadow:#ccc 0 2px 10px; width: 90% !important; }

.header-banner-img{ margin-top:100px; }
.header-banner-img img{ width:100%; height:auto; }
.home-section04{ border: 0px solid #ccc; padding: 20px 0; background:#f1f1f1; }
.home-section04-left{ border-right: 1px solid #ccc; text-align: left; padding: 15px 0; }
.home-section04-left h3 {
    font-size: 23px;
    font-weight: bold;
    margin: 5px 0 0 0;
    text-transform: uppercase;
    text-align: left;
}
.home-section04 .owl-dots{ display: none !important;  }
.home-logos img{ border-radius: 8px !important; }
.home-section04-right{ text-align: left; padding: 15px 0; }

h2.Project-title{ text-align: center; font-size: 34px; color: #fff; font-weight: bold; margin: 45px 0; background:url(../img/title-heading1.png) no-repeat bottom center
    ; padding: 0 0 20px 0; }
.Home-Projcts p{ text-align: center; font-size: 16px; color: #fff; line-height: 24px; margin: 0 0 40px 0; }

.Home-Projets-box{ min-height: 240px; background:#fff; box-shadow:#333 0 0 10px; padding: 0px; margin: 0px; border-radius: 5px 5px !important; text-align: center; width: 90%; margin: auto; }
.Home-Projets-box img{ border-radius: 5px 5px 0 0 !important; width: 100% !important; height: auto; }
.Home-Projets-box h4 a{ font-size: 18px; text-align: center; color: #333; font-weight: bold; text-decoration: none; }
.Home-Projets-box h4 a:hover{ color: #fec846; text-decoration: none; }
.Home-Projets-box h4{ margin: 15px 0 20px 0; }

.Home-Projcts .owl-dot{  }
.Contact-block{ float:left; width:100%; margin:0 0px 30px 0px; text-align:center; border-radius:8px; box-shadow:#ccc 0 3px 10px; padding: 20px 0; background: #f9f9f9; min-height: 375px;}
.Contact-map-box{ padding: 0px; width: 100%; height: 100%; min-height: 300px; }
.Contact-map-frame{ padding: 0px; margin: 0px; width: 100% !important; height: 100% !important; min-height: 300px; }
.Conatct-flag{ width: 90%; height:auto; border-radius: 0px !important; }

.more{
    float: left;
    height: auto;
    margin-bottom: 20px;
    margin-top: 5px;
    width: auto;
}
.more a.info-link{ display:inline-block; width:35px; height:35px; margin:0 8px 0 0; }
.more a.info-link img{ width:30px; height:30px; }
.font-size20{ font-size:38px; color:#fff !important; }
a.icon-play{ color:#eb1c28; font-size:20px; text-align:center; padding:8px 0px; border-radius:100px; border:1px solid #eb1c28; background:none; display:inline-block; width:40px; height:40px; transition: background-color 0.8s ease;}

a.icon-play:hover{ color:#fff; background:#eb1c28; display:inline-block;}

a.icon-play1{ color:#ff9800; font-size:20px; text-align:center; padding:8px 0px; border-radius:100px; border:1px solid #ff9800; background:none; display:inline-block; width:40px; height:40px; transition: background-color 0.8s ease;}
a.icon-play1:hover{ color:#fff; background:#ff9800; display:inline-block;}

a.icon-play2{ color:#1d9c72; font-size:20px; text-align:center; padding:8px 0px; border-radius:100px; border:1px solid #1d9c72; background:none; display:inline-block; width:40px; height:40px; transition: background-color 0.8s ease;}
a.icon-play2:hover{ color:#fff; background:#1d9c72; display:inline-block;}

a.icon-play3{ color:#489fdf; font-size:20px; text-align:center; padding:8px 0px; border-radius:100px; border:1px solid #489fdf; background:none; display:inline-block; width:40px; height:40px; transition: background-color 0.8s ease;}
a.icon-play3:hover{ color:#fff; background:#489fdf; display:inline-block;}
.more ul{ padding:0px; margin:0px 20px; }
.more ul li{ list-style:none; display:inline-block; font-size:12px; color:#eb1c28; margin:0px 10px; line-height:26px; text-align:center; }

#project-logos{ display: block; }
#project-logos-mobile{ display: none; }

.responsive{ width: 100%; height: auto; }




























